.stroylinerCards {
    
}

.stroylinerCards__container {
    
}

.stroylinerCards__list {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}   

.stroylinerCards__item {
    max-width: 340px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(66, 97, 204, 0.05);
    border-radius: 13px;
    transition: 0.3s ease;
}

.stroylinerCards__item:hover {
    transform: scale(1.03);
}

.storylinerCardsImg {
    width: 340px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.storylinercards__wrapper {
    padding: 15px 20px 18px 20px;
}

.storylinerCards__info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.storylinerCards__person__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.storylinerCards__person__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #3E3E3E;
}

.storylinerCards__rating__wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}

.storylinerCards__rating__number {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #FF8718;
}

.storylinerCards__rating__star {
    width: 11px;
    height: 11px;
}

.storylinerCards__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6E6E6E;
    margin-top: 10px;
    margin-bottom: 11px;
}

.storylinerCards__location__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.storylinerCards__location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.storylinerCards__location__icon {
    width: 9px;
    height: 12px;
}

.storylinerCards__location__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #939393;   
}

.storylinerCards__like__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.storylinerCards__like {
    width: 14px;
    height: 14px;
}

.storylinerCardsSaveIcon {
    width: 9px;
    height: 13px;
}